<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="shortcut icon" href="/assets/images/favi/favicon.png" type="image/x-icon">
    
    <!-- pwa -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" href="/pwa/images/ks-logo-ios.png">

    <title>KevinServ DB - Login</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a draggable="false" href="/"><img draggable="false" class="logo" src="/assets/images/KS-logo.png" alt="logo"></a></li>
            <li><a draggable="false" href="/login">Login</a></li>
            <li><a draggable="false" href="/register">Register</a></li>
        </ul>
    </nav>
</header>


<main id="main">
        <article class="flex-c">
            <form action="/login" method="post">
                <input name="user" type="text" placeholder="Username">
                <input name="password" type="password" placeholder="Password">

                <% if (error == 1) { %> <div class="error-c"> <p class="error"> Invalid input </p> </div> <% } %>
                <% if (error == 2) { %> <div class="error-c"> <p class="error"> Wrong User or Password </p> </div> <% } %>
                <% if (error == 3) { %> <div class="error-c"> <p class="error"> Banned User </p> </div> <% } %>
                <% if (error == 4) { %> <div class="error-c"> <p class="error"> Login First </p> </div> <% } %>

                <button type="submit" class="btn-login btn-s1 btn">Login</button>
            </form>
        </article>
</main>

<script src="/assets/js/login.js"></script>

</body>
</html>
