<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register.css">
    <link rel="shortcut icon" href="/assets/images/favi/favicon.png" type="image/x-icon">
    
    <!-- pwa -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" href="/pwa/images/ks-logo-ios.png">

    <title>KevinServ DB - Register</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a draggable="false" href="/"><img draggable="false" class="logo" src="/assets/images/KS-logo.png" alt="logo"></a></li>
            <li><a draggable="false" href="/register">Register</a></li>
            <li><a draggable="false" href="/login">Login</a></li>
        </ul>
    </nav>
</header>

<!-- FORM REQUEST LOADER -->
<div id="submitLoader" class="none loader flex-c">
    <div class="flex-c">
        <p>LOADING</p>
        <span class="loader-icon"></span>
    </div>
</div>

<main id="main" style="flex-direction: column; row-gap: 10px;">

    <form action="/register" method="post">

        <input name="inviteCode" type="text" placeholder="Invite Code">

        <button type="submit">Send</button>

    </form>

    <form action="/register/email?<%= publicCode %>" method="post">

        <input class="none" value="<%= publicCode %>" name="publicCode" type="text">
        <input name="email" type="text" placeholder="email">

        <button type="submit">Send</button>

    </form>

</main>

<script src="/assets/js/register.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
