@import url(main.css);

main {
    flex: 1;
    margin-bottom: 10rem;
}

main .title {
    display: flex;
    font-size: 10em;
    line-height: 8rem;
    font-family: 'Pencil';
    padding: 1rem 0 0 1rem;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 2rem;
}

main article p {
    font-size: 1em;
    font-family: 'RobotoCondensed';
}

main article a {
    width: 80%;
}