@import url(main.css);

@import url(dashboard/menu.css);
@import url(dashboard/history.css);

body > main {
    position: relative;
    margin-top: 74px !important;
}

nav {
    position: fixed;
    z-index: 1;
}

/* Quando non ci sono dati nella dashboard compare un avviso */

main .no-data {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main .no-data img {
    width: 20rem;
    margin-right: 120px;
}

@media (width < 500px)  {
    /* phone mode */
    main .no-data img {
        width: 10rem;
    }
}

/* -------------------- */

.edit-pop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

.edit-pop main {
    height: 14rem;
    margin: 1rem;
}

.edit-pop form {
    display: grid;
    height: 100%;
}

.edit-pop form section {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.edit-pop form .sum {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sum input[type="number"]{
    width: 100%;
}

.edit-pop form .edit-pop-header {
    line-height: 2rem;
}

.edit-pop-header .delete-btn {
    display: flex;
    justify-content: right;
    width: 100%;
}

.e-pop-Btns {
    display: flex;
    justify-content: center;
    align-items: flex-end !important;
    column-gap: 1rem;
}

.e-pop-Btns button {
    margin-bottom: 3px;
}

.data-head {
    display: flex;
    align-items: center;
}

.data-head .name {
    width: 174px;
    font-family: var(--ff-secondary);
    font-size: 1.6em;

    margin-right: 2px;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: none;
    scroll-behavior: smooth;
}

.data-head .name::-webkit-scrollbar{
    display: none;
}

.data-head .name p {
    white-space:nowrap; 
}

.money-c {
    display: flex;
    font-family: var(--ff-secondary);
    column-gap: 5px;
    line-height: 32px;
}

.money-c .count {
    font-size: 30px;
    font-weight: var(--fw-medium);
}

.money-c .simbol {
    font-size: 1.5em;
    font-weight: var(--fw-normal);
}

.data {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 15rem));
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 4rem 2rem;
    justify-content: center;
}

.data > div > main {
    display: grid;
    padding: 1rem;
    row-gap: .7rem;
}

.data > div {
    position: relative;
    width: 15rem;
    height: 16rem;

    /* background-image: linear-gradient(to top left, #a18cd1 0%, #fbc2eb 100%); */

    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
}

.add-data {
    display: flex;
    justify-content: right;
}

.add-data > div {
    position: fixed;
    z-index: 2;
    top: 95px;
    background-color: white; 
    width: 15rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 12px 48px rgba(0,0,0,.15);
}

@media (width >= 500px)  {
    .add-data > div {
        right: 20px;
    }
}

@media (width < 500px)  {
    /* phone mode */
    .add-data {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.add-data form {
    display: grid;
    row-gap: 1rem;
}

.add-data form .sum-add {
    display: flex;
    align-items: center;
    column-gap: .8rem;
}

.sum-add input[type="number"] {
    width: 8.5rem;
}

.add-data form div {
    max-width: 14rem;
}

.add-data form input {
    width: 100%;
}

.add-data form input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.nav-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    width: 100%;
    margin-right: 1rem;
}

.nav-btn > * {
    height: 2.4rem;
}

@media (width >= 500px)  {
    .menu-btn-o:hover {
        background-color: #f6f6f8;
    }
}

@media (width < 500px)  {
    .menu-btn-o:active {
        background-color: #f6f6f8;
    }
}

.btn-add img {
    transition: 150ms;
}

.btn-add-o img {
    rotate: 45deg;
}