@import url(main.css);

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 242, 245);
    color: rgb(28, 30, 33);
}

main {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}


@media (width < 500px)  {
    main {
        align-items: flex-start;
    }
}

article {
    display: flex;

    width: 100%;

    flex-direction: column;
    
    margin: 4rem 1rem;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;

    max-width: 400px;

    row-gap: 1rem;
}

article section {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

article section .header {
    display: flex;
    justify-content: space-between;
}

article section .header .title {
    font-size: 1.6em;
}

article section .header span {
    display: flex;
    align-items: center;

    column-gap: .8rem;
}

article .content {

    flex-direction: row;
    
}

article .content div {

    width: 100%;
    flex-direction: column;
    padding: 1rem;

}

article .content div a {

    flex-direction: column;
    row-gap: 5px;

}

article .content div:hover {

    background-color: rgb(96, 209, 209);

}