@import url(main.css);

@import url(settings/log.css);
@import url(settings/invite.css);
@import url(settings/account.css);

html, body , main {
    flex: 1;
}

.container {
    flex-direction: column;
    display: flex;
    flex: 1;

    height: 45rem;

    min-width: 20rem;
    max-width: 70rem;

    overflow: hidden;
}

@media (width >= 500px)  {
    .container {
        margin: 1rem;
        border: 2px solid rgb(229, 231, 237);
        border-radius: 1rem;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    }

    body > main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (width < 500px)  {
    .container {
        border-bottom: solid rgba(178, 178, 178, 0.6) 2px;
    }
}

.container > .title {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .5rem;
    border-bottom: solid rgba(178, 178, 178, 0.6) 2px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.main .menu {
    padding: .5rem;
    border-right: solid rgba(178, 178, 178, 0.6) 2px;
}

.main .menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main .menu ul .active {
    border: solid rgb(0, 0, 0, 0.6) 2px; 
    background-color: rgb(246, 246, 248);
}

.main .menu li {
    display: flex;
    align-items: center;

    column-gap: 3px;

    font-size: 1em;
    height: 1rem;
    width: 7rem;
    padding: 8px;
    border-radius: 3rem;
    transition: none !important;
}

.main .content {
    display: flex;
    flex: 1;
}

.main .content > div {
    width: 100%;
}

@media (width < 500px)  {
    /* phone mode */
    .main {
        flex-direction: column;
    }

    .main .menu ul {
        flex-direction: row;
        column-gap: 10px;
    }

    .main .menu {
        border-right: none;
        border-bottom: solid rgba(178, 178, 178, 0.6) 2px;
    }
}