<!DOCTYPE html>

<body>
    <div style="border: rgb(10, 10, 10) solid 2px; border-radius: 15px; margin: 3px; background-color: rgb(255, 255, 255); overflow: hidden;">
        <div style="height: 110px; background-color: rgb(245, 245, 245)">
            <img style="border: rgb(10, 10, 10) solid 1px; margin: 10px; border-radius: 10px;" src="<%= url %>/assets/images/KevinServ-icon.png" height="89px" width="89px">
        </div>
        <div style="margin: 10px;">
            <h2>Your verify code: <%= code %></h2>
            <p>
                <br>This is your Email Verification code for the registration to <a href="<%= url %>">KS-Debt</a> WebApp.
                <br>Email: <%= email %>
                <br>
                <br>This code will expire in 5 minutes.
                <br>
                <br>If you are not trying to register, or you are being spammed please contact <a href="mailto:kevinservdb@gmail.com">kevinservdb@gmail.com</a>
            </p>
            
        </div>

    </div>
</body>